<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="~/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>  
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>      
  <connectionStrings>
        <add name="DB" connectionString="Server=aura.students.cset.oit.edu;database=SamPrice;user id=samprice; password=samprice;"/>
  </connectionStrings>
  <location path="Account">
   <system.web>
     <authorization>
       <deny users="?"/>
     </authorization>
   </system.web>
  </location>
  <location path="Account/Logout.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
    <system.web>
      <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SQLRole">
        <providers>
          <add name="SQLRole" 
               type="System.Web.Security.SqlRoleProvider" 
               applicationName="CST465"
               connectionStringName="DB"/>
        </providers>
      </roleManager>
      <siteMap defaultProvider="SecuredSiteMap">
        <providers>
          <add name="SecuredSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms" >
        <forms loginUrl="~/Login.aspx" defaultUrl="~/Account/EditProfile.aspx" />
      </authentication>
      <authorization>
        <allow users="*" />
      </authorization>
      <membership defaultProvider="SqlMembership">
        <providers>
          <add
          name="SqlMembership"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="DB"
          applicationName="CST465"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
        </providers>
      </membership>
    </system.web>
</configuration>
